learningPython/tempCodeRunnerFile.py
udemy_a-z_machineLearning/kesifci veri analizi - veri gorsellestirme/veri_gorsellestirme.ipynb
udemy_a-z_machineLearning/4 - makine ogrenmesi 1 - giris/a.md
.gitignore
.vscode/settings.json
